[submodule "assignments/CPT-180-27-Assignment-1-Github"]
	path = assignments/CPT-180-27-Assignment-1-Github
	url = https://github.com/WCCCEDU/CPT-180-27-Assignment-1-Github
[submodule "assignments/CPT-180-27-Assignment-1-Coding"]
	path = assignments/CPT-180-27-Assignment-1-Coding
	url = git@github.com:WCCCEDU/CPT-180-27-Assignment-1-Coding.git
[submodule "assignments/CPT-180-27-Assignment-2-Config-Generator"]
	path = assignments/CPT-180-27-Assignment-2-Config-Generator
	url = git@github.com:WCCCEDU/CPT-180-27-Assignment-2-Config-Generator.git
[submodule "assignments/CPT-180-27-Assignment-3-Libraries"]
	path = assignments/CPT-180-27-Assignment-3-Libraries
	url = https://github.com/WCCCEDU/CPT-180-27-Assignment-3-Libraries
[submodule "assignments/CPT-180-27-Assignment-4-Analysis-Tool"]
	path = assignments/CPT-180-27-Assignment-4-Analysis-Tool
	url = git@github.com:WCCCEDU/CPT-180-27-Assignment-4-Analysis-Tool.git
[submodule "assignments/CPT-180-27-Assignment-5-Structures"]
	path = assignments/CPT-180-27-Assignment-5-Structures
	url = git@github.com:WCCCEDU/CPT-180-27-Assignment-5-Structures.git
[submodule "notes/week_11/CPT-180-27-Encryption-Caesar-Shift"]
	path = notes/week_11/CPT-180-27-Encryption-Caesar-Shift
	url = git@github.com:WCCCEDU/CPT-180-27-Encryption-Caesar-Shift.git
[submodule "notes/week_11/watkinsmi0523-assignment-5/start"]
	path = notes/week_11/watkinsmi0523-assignment-5/start
	url = git@github.com:watkinsmi0523/CPT-180-27-Assignment-5-Structures.git
[submodule "notes/week_12/one_time_pad"]
	path = notes/week_12/one_time_pad
	url = git@github.com:WCCCEDU/CPT-180-27-Encryption-One-Time-Pad.git
[submodule "notes/week_13/classes"]
	path = notes/week_13/classes
	url = git@github.com:WCCCEDU/CPT-180-27-Class-Vs-Struct.git
