[submodule "assignments/CPT-180-27-Assignment-1-Github"]
	path = assignments/CPT-180-27-Assignment-1-Github
	url = https://github.com/WCCCEDU/CPT-180-27-Assignment-1-Github
[submodule "assignments/CPT-180-27-Assignment-1-Coding"]
	path = assignments/CPT-180-27-Assignment-1-Coding
	url = git@github.com:WCCCEDU/CPT-180-27-Assignment-1-Coding.git
[submodule "assignments/CPT-180-27-Assignment-2-Config-Generator"]
	path = assignments/CPT-180-27-Assignment-2-Config-Generator
	url = git@github.com:WCCCEDU/CPT-180-27-Assignment-2-Config-Generator.git
[submodule "assignments/CPT-180-27-Assignment-3-Libraries"]
	path = assignments/CPT-180-27-Assignment-3-Libraries
	url = https://github.com/WCCCEDU/CPT-180-27-Assignment-3-Libraries
[submodule "assignments/CPT-180-27-Assignment-4-Analysis-Tool"]
	path = assignments/CPT-180-27-Assignment-4-Analysis-Tool
	url = git@github.com:WCCCEDU/CPT-180-27-Assignment-4-Analysis-Tool.git
[submodule "assignments/CPT-180-27-Assignment-5-Structures"]
	path = assignments/CPT-180-27-Assignment-5-Structures
	url = git@github.com:WCCCEDU/CPT-180-27-Assignment-5-Structures.git
